@model UsuarioModel
@{
    ViewData["Title"] = "Editar usuário";
}

<div class="text-center">

    <h1 class="display-4">Editar usuário</h1>

</div>

<form asp-controller="Usuario" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id"/>
    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu nome">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite seu email">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Alterar</button>
        <a role="button" class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Voltar</a>
    </div>
</form>