@model ClienteModel
@{
    ViewData["Title"] = "Adicionar cliente";
}

<div class="text-center">

    <h1 class="display-4">Cadastrar cliente</h1>

</div>

<form asp-controller="Cliente" asp-action="Criar" method="post">

    <div class="mb-3">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do cliente">
        @Html.ValidationMessageFor(x => x.Nome)
    </div>

    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" placeholder="Digite o email do cliente">
        @Html.ValidationMessageFor(x => x.Email)
    </div>

    <div class="mb-3">
        <label for="celular" class="form-label">Celular</label>
        <input type="text" asp-for="Celular" class="form-control" placeholder="Digite o celular do cliente">
        @Html.ValidationMessageFor(x => x.Celular)
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-primary">Adicionar</button>
        <a role="button" class="btn btn-secondary" asp-controller="Cliente" asp-action="Index">Voltar</a>
    </div>
</form>